<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pagina about</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href= "{% static 'css/style.css' %}">
        
    </head>
    <body>
        <h1>Bienvenido a esta pagina sobre nosotros</h1>
            <p> esta es la pagina acerca de nosotros </p>
        
        
    </body>
</html>