<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pagina about</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href= "{% static 'css/style.css' %}">
        
    </head>
    <body>
        <h1>Bienvenido a esta pagina sobre nosotros</h1>
        <div>
            <p> esta es la pagina acerca de nosotros </p>
        </div>    
        
        <div>
            <p>estamos intentando aprender sobre como usar django</p>
        </div>    
        <div>
            <img src="mi_portal_web/myapp/static/img/django.jpg" alt="Italian Trulli">
        </div>
        
    </body>
</html>