{% extends 'myapp/base.html' %}

{% block title %} Portafilios {% endblock title %}
    
{% load static %}

{% block content %}
<h2>Portafolios</h2>    
    {% if portafolios %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>URL</th>
          <th>Img</th>
        </tr>
      </thead>
      <tbody>

    {% for portafolio in portafolios %} 

    <tr>
      <th>{{portafolio.id}}</th>
      <th>{{portafolio.name}}</th>
      <th>{{portafolio.description}}</th>
      <th>{{portafolio.url}}</th>
      <th>{{portafolio.imagen}}</th>
    </tr>
  
      
    {% endfor %}
    {% else %}
    <h2>No hay portafolios agregados </h2>   
    
    {% endif %}
    
  </tbody>
  
</table>

    

{% endblock content %}   
