{% extends 'myapp/base.html' %} 
{% block title%} Lista de Testimonios {% endblock title%}
{% load static %}

{% block content %}
<h2>Testimonios</h2>
<a href="{% url 'registro_testimonio' %}" class="btn btn-primary">Agregar un registro</a>
<div class=row>
  
  {% if testimonios %}
  
  {% for testimonio in testimonios %}
  <div class="card m-2">
    <h4 class="card-header">{{testimonio.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Empresa: {{testimonio.empresa}}</h5>
      <p class="card-title">Puesto: {{testimonio.puesto}}</p>
      <p class="card-text">"{{testimonio.description}}"</p>
      
    </div>
  </div>
  {% endfor %}
  {% endif %}
</div>




{% endblock content %}





