{% extends 'myapp/base.html' %}
{% load static %}
{% block title %} Testimonios{% endblock title %}

{% block content %}
<h1>Testimonios de los clientes que visitaron el restaurant</h1>
<div class = 'row'>
    
    {% for testimonio  in testimonios  %}
    
    
    {% if testimonio.testimonio == '' %}
    <div class="card m-2">
        <h5 class="card-header">{{testimonio.nombre}}</h5>
        <div class="card-body">
          <h5 class="card-title">Testimonio</h5>
          <p class="card-text">El cliente no dejo un testimonio</p>
          
        </div>
      </div>
    {% else %}
        <div class="card m-2">
            <h5 class="card-header">{{testimonio.nombre}}</h5>
            <div class="card-body">
              <h5 class="card-title">Testimonio</h5>
              <p class="card-text">{{testimonio.testimonio}}</p>
             
            </div>
          </div>
    {% endif %}
        
    {% endfor %}
        


</div>


{% endblock content %}
