body{
    font-family: Arial, sans-serif;
    background-color: chocolate;

}

h1{
    
    color: rgb(51, 33, 33);
}
p{
    color: antiquewhite;
}

div{
    background: rgba(255, 0, 0, 0.446);
}
img{
    display: block;
    width: 50%;
    margin: auto;
}