body{
    font-family: Arial, sans-serif;
    background-color: rgb(27, 15, 5);

}

h1{
    
    color: rgb(51, 33, 33);
}
p{
    color: antiquewhite;
}

div{
    background: rgba(5, 5, 5, 0.446);
}
img{
    display: inline-block;
    width: 300px;
    margin: auto;
    justify-content: center;
}